@import "tailwindcss";

:root {
  --background: #ffffff;
  --secondary: #171717;
  --primary: #d3e671;
  --muted: #ebfa9e;
}

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --bg-muted: var(--muted)
  --text-primary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --secondary: #ededed;
  }
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2"),
    url("/fonts/Satoshi-Variable.woff") format("woff");
  font-weight: 100 950;
  font-style: normal;
  font-display: swap;
}

html, body {
  scroll-behavior: auto;
}

body {
  background: var(--primary);
  font-family: "Satoshi", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.embla__container {
  transition: transform 0.5s cubic-bezier(0.22, 1, 0.36, 1) !important;
  will-change: transform;
}

/* Untuk browser WebKit (Chrome, Safari, Edge versi baru) */
::-webkit-scrollbar {
  width: 0; /* Menghilangkan lebar scrollbar */
  background: transparent; /* Latar belakang transparan */
}

.card-story {
  @apply  bg-[var(--muted)] h-90 rounded-lg  overflow-hidden
}

.arrow-carousel {
  @apply bg-[var(--muted)] rounded-full text-secondary size-10 text-center
}

.item {
  @apply opacity-0 translate-y-10 translate-x-5
}

.screen-body {
 @apply max-h-screen overflow-hidden
}

.images {
  transform-origin: bottom;
}

.splide__list {
  margin: 0; 
}

.splide__slide {
  height: fit-content;
  max-width: 330px;
  padding: 0.6rem;
  width: fit-content; 
  overflow: hidden;
  background-color: #fffee3;
  border-radius: 10px;
  cursor: grab;
}

.splide__slide img {
  height: 400px;
  width: 330px !important;  
  overflow: hidden;
  background-color: aquamarine;
}

@media (max-width:678px) {
  .splide__slide {
    height: fit-content;
    max-width: 280px;
    padding: 0.8rem;
    width: fit-content; 
    overflow: hidden;
    background-color: #fffee3;
    border-radius: 10px;
    cursor: grab;
  }
  
  .splide__slide img {
    height: 335px;
    width: 300px; 
    overflow: hidden;
    background-color: aquamarine;
  }
}

.hr {
  @apply w-0 h-[1.5px] bg-black
}

#__next-build-watcher,
.nextjs-portal {
  display: none !important;
}


